@charset "UTF-8";
:root {
  box-sizing: border-box;
  color: white;
}

*, ::before, ::after {
  box-sizing: inherit;
}

body {
  background-image: url("https://cdn.pixabay.com/photo/2017/04/05/01/20/wood-2203740_1280.jpg");
}

header {
  background-color: black;
  padding: 5px;
  font-family: "Cookie", cursive;
  display: flex;
  justify-content: space-between;
  border: 2px solid green;
  border-bottom: none;
}

.logo img {
  margin: 20px;
  width: 60px;
}

.menu {
  flex: 0 0 60%; /*0-flex grow, 0-flex shrink, flex-basic*/
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.menu-list li {
  display: inline-block; /*elementy będą koło siebie */
  padding-right: 20px;
}
.menu-list li a {
  color: white;
  font-size: 1.5rem;
  text-decoration: none;
}
.menu-list li a:hover {
  color: orange;
}

.kontakt {
  flex: 0 0 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.8rem;
}

.box {
  height: 200px;
  background-color: black;
  display: flex;
  position: relative; /* aby ustawic img na absolute */
  border: 2px solid red;
  border-top: none;
}
.box-item {
  width: 50%;
  height: 100%;
  font-family: cursive, geneva;
  padding: 20px;
}
.box-item-button {
  text-transform: uppercase;
  padding: 20px 0px;
  font-size: 0.8rem;
}
.box-item-button-order {
  color: rgb(163, 214, 21);
  background-color: rgb(110, 79, 10);
  border: 2px solid rgb(163, 214, 21);
  text-decoration: none;
  padding: 5px;
  margin-right: 10px;
}
.box-item-button-book {
  color: orange;
  background-color: rgb(110, 79, 10);
  border: 2px solid orange;
  text-decoration: none;
  padding: 5px;
}
.box-item-button-order:hover, .box-item-button-book:hover {
  background-color: rgb(39, 36, 36);
}
.box-img img {
  width: 300px;
  position: absolute;
  right: 0;
  bottom: 0;
  max-height: 100%;
  border: 2px solid white;
  border-bottom: none;
  border-right: none;
}

.zalety {
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
  margin: 10px;
}
.zalety-img {
  position: relative;
}
.zalety-img-opis {
  position: absolute;
  right: 20px;
  bottom: 10px;
}
.zalety-img img {
  border: 2px solid black;
  width: 450px;
  height: 180px;
}

.kitchen-menu {
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: cursive;
  padding: 20px;
}
.kitchen-menu-one-forth {
  flex-basis: 25%; /* szerokość elementu */
  text-align: center;
  font-size: 0.9rem;
  margin-bottom: 20px;
}
.kitchen-menu-one-forth p {
  padding-right: 5px;
}
.kitchen-menu-one-forth img {
  width: 100%;
}

.page-footer {
  width: 100%;
  background-color: black;
  font-family: Cookie, cursive;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
}
.page-footer ul {
  display: flex;
  gap: 100px;
  -webkit-text-decoration: dotted;
          text-decoration: dotted;
  list-style: none;
  flex-wrap: wrap;
}
.page-footer ul li a {
  color: white;
  font-size: 20px;
  text-decoration: none;
}
.page-footer ul li a:hover {
  color: orange;
}/*# sourceMappingURL=main.css.map */